
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-medium">{{"IMG_0000"+imageName+".JPG"}}</h2>
        <button class="text-gray-400 hover:text-gray-600" (click)="close()">✖</button>
      </div>
      <div class="text-sm mb-4">
        <p><strong>User:</strong> {{userName}}</p>
        <p><strong>Album:</strong> {{"Album"+albumName}}</p>
      </div>
      <div class="flex justify-center items-center h-48 bg-gray-100 border border-gray-300 rounded mb-4">
        <img class="w-full h-full object-cover rounded-t-md" [src]="'https://picsum.photos/id/'+imageName+'/400/300'"  alt="Image" />
      </div>
      <div class="flex justify-end">
        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" (click)="close()">Download Image</button>
        <button class="ml-2 text-gray-500 px-4 py-2 rounded hover:text-gray-700" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
